[submodule "veld_code__demo__train_word2vec"]
	path = veld_code__demo__train_word2vec
	url = https://github.com/acdh-oeaw/veld_code__demo__train_word2vec.git
[submodule "veld_data__demo__training_data"]
	path = veld_data__demo__training_data
	url = https://github.com/acdh-oeaw/veld_data__demo__training_data.git
[submodule "veld_code__demo__preprocess"]
	path = veld_code__demo__preprocess
	url = https://github.com/acdh-oeaw/veld_code__demo__preprocess.git
[submodule "veld_data__demo__word2vec_model"]
	path = veld_data__demo__word2vec_model
	url = https://github.com/acdh-oeaw/veld_data__demo__word2vec_model.git
